.headerNav {
    overflow: hidden;
    border-radius: 25px;
    background-color: black;
  }
  
  .headerNav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .headerNav a:hover {
    background-color: #d42646;
    color: black;
  }
  
  /*.headerNav a.onit {
    background-color: #22c1c3;
    color: white;
  }*/

  .headerNav a.log{
    float:right;
  }
  .interactive{
    border: 2px black solid;
    align-content: center;
    width: 250px;
  }